* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--white-color: #fff;
	--black-color: #000;
	--grey-color: grey;
	--grey-light: #f6f6f6;
	--lightgreen-color: #e6fbe7;

	--hover-time: .4s;

	--font-Roboto: Roboto, sans-serif;
}

ul,
li {
	list-style: none;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-style: regular;
	font-size: 18px;
	background-color: var(--white-color);
	color: var(--black-color);
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	padding: 40px 0 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px dashed var(--lightgreen-color);

	--photo-size: 180px;
}

.header__image {
	position: relative;
	z-index: 30;
	flex-shrink: 0;
	width: 180px;
	height: 180px;
	border: 3px solid var(--lightgreen-color);
	border-radius: 100%;
	overflow: hidden;
	box-shadow: 0 0 15px black;

}

.header__image img {
	max-width: 100%;
}

.performance {
	position: relative;
	width: 100%;
	height: var(--photo-size);
	background-color: var(--lightgreen-color);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.performance::before {
	content: "";
	position: absolute;
	z-index: 10;
	width: 220px;
	height: 220px;
	background-color: var(--white-color);
	left: 0;
	border-radius: 50%;
	transform: translateX(-80%);
}

.performance p {
	font-weight: 700;
	font-size: 40px;
}

h1 {
	font-weight: 600;
	font-size: 32px;
	color: var(--grey-color);
}

.main {
	padding: 20px 0;
	display: flex;
	gap: 20px;
}

.title {
	padding-bottom: 2px;
	margin-bottom: 10px;
	display: inline-block;
	border-bottom: 2px solid var(--black-color);
}

.title__contacts {
	margin-bottom: 50px;
}

.subtitle {
	max-width: 68%;
}

.aside {
	padding-right: 20px;
	border-right: 7px solid var(--grey-light);
}

.aside__links {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.aside__link {
	display: flex;
	align-items: center;
	gap: 7px;
	color: var(--black-color);
	text-decoration: none;
}

.aside__link span {
	padding-bottom: 2px;
	border-bottom: 1px solid var(--black-color);
}

.aside__portfolio {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.aside__portfolio img {
	width: 150px;
}

.page__wrapper>p {
	font-style: 20px;
}

section {
	margin-bottom: 20px;
}

section p {
	font-size: 22px;
}

.skills ul {
	padding-left: 20px;
}

.skills li {
	list-style: disc;
}

h3 {
	font-weight: 400;
	font-style: italic;
	margin-bottom: 4px;
}

h4 {
	font-weight: 700;
	font-size: 22px;
}

.job__info {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.date {
	font-size: 16px;
	font-style: italic;
	text-transform: lowercase;
	text-align: end;
}

.education_item:not(:last-child),
.experience__item:not(:last-child) {
	margin-bottom: 20px;
}

.job__description {
	padding-left: 20px;
}

.education_list,
.job__description li {
	list-style: disc;
}

.education_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	flex-wrap: wrap;
}

@media (max-width:700px) {

	.header {
		flex-direction: column;
	}

	.performance {
		padding: 30px 0 0;
		height: 100%;
		background-color: transparent;
	}

	.main {
		flex-direction: column;
	}

	.aside {
		border-right: none;
		text-align: center;
	}

	.aside__links {
		align-items: center;
	}

	.title {}
}